#randomAnime {
  border-radius: 12px;
  background: #4065ba;
  margin-left: 20px;
}

#username {
  width: 25%;
}

#heading {
  background-color: #4065ba;
  color: white;
  padding-left: 10px;
  padding-bottom: 5px;
}

.userInputs {
  /* display: flex; */
  /* justify-content: center; */
  margin-left: 20px;
}

.chooseStatus {
  margin-left: 10px;
}
