#randomAnime {
  border-radius: 12px;
  background: #4065ba;
  margin-left: 20px;
}

#username {
  width: 25%;
}

#heading {
  background-color: #4065ba;
  color: white;
  padding-left: 10px;
}

.animeInfoPositioning {
  display: flex;
}

.leftOfImg {
  display: flex;
  flex-direction: column;
}

#animeTitle {
  color: #4065ba
}

.userInputs {
  margin-left: 20px;
}

.chooseStatus {
  margin-left: 10px;
}

.detailTitles {
  color: #4065ba
}

.darkMode {
  background-color: #161618;
  color: white;
}





@media screen and (max-width: 520px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .userInputs {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 30px;
  }

  #username {
    width: 100%;
  }

  #randomAnime {
    width: 150px;
    margin: 10px 0 0 31%;
  }

  #animeTitle {
    margin: 10px;
  }

  #synopsis {
    margin: 0 10px;
  }

  .spaceBetween {
    margin-bottom: 10px;
  }

  .animeInfoPositioning {
    display: flex;
    padding: 0 0 20px 20px;
  }

  #loader {
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }
  
  .loadingGif {
    width: 100px;
  }
  .leftOfImg {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #heading {
    display: flex;
  }
  
}
